
body{
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8;
}

.container{
  max-width: 450px;
}

.icon{
  position: relative;
  border-radius: 50%;
  top: -50px;
  margin-bottom: -50px;
}
